<%= render "shared/nav" %>
<div class='position-relative'>
  <div class='padding-sm'>
    <h2 class='h2' contenteditable="true">Video Title</h2>
    <small id="emailHelp" class="form-text text-muted">Click on the title above to edit!</small>
  </div>
  <div class='padding-sm'>
    <video src = "#{@recording.video_file}", controls:true > </video>
  </div>
  <div class='padding-sm'>
    <%= button_to 'Save Video', home_path, method: :get, class:"btn btn-primary btn-lg btn-block margin-top-md width-max" =%>
  </div>
</div>