<%= javascript_include_tag 'recording.js' %>

<script>
  window.onload = () => initRecordVideo();
  window.onbeforeunload = () => RecordVideo().stopVideo;
</script>

<%= render "shared/nav" %>
<div class='padding-sm'>
    <video style="border: 1px solid black" id="live" width="300"></video>
</div>
<div class='padding-sm'>
    <button id="start", class="btn btn-primary btn-lg btn-block margin-top-md width-max">Start</button>    
    <%= button_to 'Save Video', '../recording', method: "post",class:"btn btn-primary btn-lg btn-block margin-top-md width-max" =%>
</div>