<%= javascript_pack_tag 'recording_new.js' %>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<%= render "layouts/nav" %>
<div class='padding-sm'>
    <video style="border: 1px solid black" id="video-player" width="300"></video>
</div>
<div class='padding-sm' id="#modalShow">
  <textarea readonly id='transcription' class="form-control transcription-box" ></textarea>
  <%# <TextBox id='transcription1' readonly></TextBox> %>
<div class='padding-sm'>
<button type="button" class="btn btn-secondary btn-lg btn-block margin-top-md width-max" data-toggle="modal" data-target="#exampleModal">
  Verify Translation
</button>
    <button id="control-button" data-isRecording=false class="btn btn-primary btn-lg btn-block margin-top-md width-max">Start</button>
</div>
<form enctype="multipart/form-data" id="video-form" action="/recording" accept-charset="UTF-8" method="post">
  <input type="hidden" id="token" name="authenticity_token" value=<%=form_authenticity_token%>>
  <input type="video" hidden name="recording[video_file]" id="recording-video-file">
</form>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check the Translation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <p>Was this what you wanted to say?
Please edit the message in the text field directly if 
it is incorrect and press "confirm" once you are done!</p>
<div class='padding-sm form-group'>
  <%# <textarea id='transcription' class="form-control transcription-box" ></textarea> %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#exampleModel").click(function(){
    $("#myModal").modal('show').load("new.html.erb #modalShow");
  });
});
</script>